* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container-sidebar {
    display: flex;
}

main {
    width: 100%;
    padding: 20px;
}
.sidebar {
    color: #fff;
    width: 250px;
    padding-left: 20px;
    height: 100vh;
    background-image: linear-gradient(30deg, #0048bd, #44a7fd);
    border-top-right-radius: 80px;
}

.top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo {
    font-size: 30px;
}

.bars {
    display: flex;
    margin-left: 50px;
    font-size: 25px;
}
.link {
    color: #fff;
    display: flex;
    padding: 10px 20px;
    margin-top: 15px;
    gap: 15px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.link:hover, .active {
    color: #3f5efb;
    outline: none;
    position: relative;
    background: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.link:hover::after{
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    right: 0;
    height: 35px;
    width: 35px;
    border-bottom-right-radius: 18px;
    box-shadow: 0 20px 0 0 #fff;
}
.link:hover::before{
    content: "";
    position: absolute;
    background-color: transparent;
    top: 38px;
    right: 0;
    height: 35px;
    width: 35px;
    border-top-right-radius: 18px;
    box-shadow: 0 -20px 0 0 #fff;
}

.icon, .link_text {
    font-size: 20px;
}
.country-card{
    max-height: 200px;
    min-height: 200px;
}
